extends layout_auth.pug

block content
    section(class='section')
        div(class='columns is-centered')
            div(class='column is-one-third-desktop is-half-tablet')
                
                form(action='/adduser' method='post')
                    label(class='label') B2C Tenant
                    div(class='field')
                        div(class='select is-danger')
                            select(id='tenantdropdown' onchange='validateForm()')
                                option(value =' ' selected disabled hidden) Choose Tenant
                                option(value='andrewtestingb2c') andrewtestingb2c
                                option(value='IAPSBXB2C') IAPSBXB2C
                                option(value='IAPDEVB2C') IAPDEVB2C
                        p(class='help is-danger' id='dropdown_warning') Please select a tenant
                    div(class='field') 
                        label(class='label') Email Address
                        div(class='control has-icons-left has-icons-right' id='email_div')
                            input(class='input is-danger' type='Email Address' placeholder='Enter Email Address' name='email' id='email_input' oninput='validateForm()' required)
                            span(class='icon is-small is-left')
                                i(class='fas fa-envelope')
                            span(class='icon is-small is-right')
                                i(class='fas fa-exclamation'  id='email_check_icon')
                            p(class='help is-danger' id='email_label') Not a valid Email
                    label(class='label') Password
                    p(class="is-size-7") Password must have a minimum 8 characters and maximum 64 characters in length and include 3 of 4 following character classes - uppercase, lowercase, number, symbol. If complexity is not met you will recive an error on the next page.
                    br
                    div(class='field')
                        div(class='control has-icons-left')
                            input(class='input' type='password' placeholder='Password' name='password' id='password' onkeyup='validateForm()' required)
                            span(class='icon is-small is-left')
                                i(class='fas fa-lock')
                    div(class='field')
                        label(class='label') Confirm Password
                        div(class='control has-icons-left has-icons-right')
                            input(class='input is-danger' type='password' placeholder='Confirm Password' name='confirm_password' id='confirm_password' onkeyup='validateForm()' required)
                            span(class='icon is-small is-left')
                                i(class='fas fa-lock')
                            span(class='icon is-small is-right')
                                i(class='fas fa-exclamation' id='password_check_icon')
                            span(id=message)
                            p(class='help is-danger' id='conflabel') Passwords Do Not Match
                    div(class='field')
                        label(class='label') Display Name
                        div(class='control')
                            input(class='input' type='text' placeholder='Display Name' name='displayName' required)
                    div(class='field is-grouped is-grouped-centered')
                        div(class='control')
                            button(class='button is-link' id='button' disabled) Submit
    script(src='javascript/confirmpassword.js')
    script(src='javascript/dropdowntoggle.js')

                