<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h2>Add New User</h2>
        <p>Tenant: andrewtestingb2c.onmicrosoft.com</p>
        
        <form action="/adduser" method="POST">
            <div class="input-group">
               <input type="text" class="form-control" name="email" placeholder="Enter email address">
               <input type="text" class="form-control" name="password" placeholder="Enter initial password">
               <input type="text" class="form-control" name="displayName" placeholder="Enter Users Display Name">
               <div class="input-group-append">
                    <button type="submit">Add User</button>
             </div>
          </div>
         </form>

    </div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>