extends layout.pug

block content
    section(class='section')
        article(class='message')
            div(class='message-header')
                p Change Notes
            div(class='message-body')
                div(class='content is-size-5')
                    p October 30, 2019
                div(class='content is-small')
                    ul
                        li Implemented hambuger menu for tablets and mobile.
                        li Corrected issue on the User List page where the title would render bside the table as opposed to on top.
                        li Included change notes pages.
                        li Moved the password complexity notes to below the password label.
            
                        