extends layout_auth.pug

block content
    section(class='section')
        article(class='message')
            div(class='message-header')
                p Change Notes
            div(class='message-body')
                div(class='content is-size-5')
                    p October 30, 2019
                div(class='content is-small')
                    ul
                        li Implemented hambuger menu for tablets and mobile.
                        li Corrected issue on the User List page where the title would render bside the table as opposed to on top.
                        li Included change notes pages.
                        li Moved the password complexity notes to below the password label.
                        li Made the Text smaller on homepage and change notes.
                        li Added drop down on the User List page allowing us to retrieve user lists from additional B2C domains.
                div(class='content is-size-5')
                    p November 1, 2019
                div(class='content is-small')
                    ul
                        li Implemented login, you are now required to login with a B2C account to access anything other than homepage.
                        li When you are loggged in you will see your display name and other info on the homepage.
                        li Any route hits will be redirected to the homepage if there is no active session.
                        li Changed some colours.
                div(class='content is-size-5')
                    p November 2, 2019
                div(class='content is-small')
                    ul
                        li Removed any secrets from the app and setup environment varaible for all confidential info.
            
                        