extends layout.pug

block content
    secton(class='section')
    section(class='section')
        article(class='message')
            div(class='message-body')
                div(class='content is-size-5')
                    p An error has occured
                