extends layout_auth.pug

block content
    secton(class='section')
    section(class='section')
        article(class='message is-info')
            div(class='message-body')
                div(class='content is-size-5')
                    p This isnt quite ready yet. Sorry.
                    p #{error}
                