<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>User Management</h1>
        <p>Tenant: andrewtestingb2c.onmicrosoft.com</p>
        <h2>Sign In Names</h2>

        <ul>
            <% for(var i = 0; i < names.length; ++i) {%>
            <%-names[i]%><br><% } %>
        </ul>
    </div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>