extends layout.pug

block content
    section(class='section')
        article(class='message')
            div(class='message-body')
                div(class='content is-size-5')
                    p Login is not yet implemented but is coming soon.